body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .nav {
      background-color: #222;
      padding: 15px 30px;
    }

    .nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .nav ul li {
      color: white;
      margin: 0 15px;
      cursor: pointer;
      transition: 0.3s;
    }
    a{
        text-decoration: none;
    }
    .nav ul a {
      color: white;
      margin: 0 15px;
      cursor: pointer;
      transition: 0.3s;
      
    }


    

    .nav ul li:first-child {
      font-weight: bold;
      font-size: 40px;
      color: #c00e04;
    }




    .nav ul li  {
  font-size: 18px;
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav ul li:hover {
  transform: scale(1.2);  /* grows smoothly */
  color: rgb(126, 4, 2);          /* optional color change */
}


.nav ul a {
  font-size: 18px;
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  transition: transform 0.3s ease, color 0.3s ease;

}

.nav ul a:hover {
  transform: scale(1.2);  
  color: rgb(126, 4, 2);          
}
.nav ul li{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav ul li img{
    height:40px;
    width:60px;
    border-radius: 20%;
}



.main-body {
  background: url("/images/profileimage.png") no-repeat center center/cover;
  height: 90vh; /* full page except navbar */
  display: flex;
  align-items: center;
  justify-content:flex-start ;
  color: white;
  position: relative;
}

.overlay {
  background: rgba(0,0,0,0.5); /* dark layer on top of bg */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.left-box {
  max-width: 400px;
}

.left-box h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.left-box p {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  padding: 12px 25px;
  background: #c00e04;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
}
.logout-form {
  display: inline;
}

.logout-btn {
  background: none;
  border: none;
  color: white;
  margin: 0 15px;
  cursor: pointer;
  font-size: 18px;
  font-family: inherit;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* same hover effect as links */
.logout-btn:hover {
  transform: scale(1.2);
  color: #c00e04;
}


